<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <title>创澳商务-交易者系统</title>
  <meta name="description" content="创澳商务-交易员系统"></meta>
  <meta name="keywords" content="index"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
  <meta name="renderer" content="webkit"></meta>
  <meta http-equiv="Cache-Control" content="no-siteapp"></meta>
  <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png"></link>
  <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png"></link>
  <meta name="apple-mobile-web-app-title" content="创澳商务"></meta>
  <link href="//cdn.bootcss.com/amazeui/2.7.1/css/amazeui.min.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="../../static/assets/css/admin.css"></link>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，网站暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>创澳商务</strong> <small>交易者系统</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li>
		<a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 
			<!-- 暂未使用 -->
			<!-- <span class="am-badge am-badge-warning">5</span> -->
		</a>
	</li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 
		  <span id="userName">交易者</span> <input type="hidden" id="userID" value="0"></input>
		  <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/trader/index"><span class="am-icon-home"></span>首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav_Common'}"><span class="am-icon-file"></span> 通用功能 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav_Common">
            <li><a href="#" style="color:#f3f3f3"><span class="am-icon-check"></span>个人资料</a></li>
            <li><a href="#" style="color:#f3f3f3"><span class="am-icon-calendar"></span> 待处理事件</a></li>
			<li><a href="#" onclick="loadUserAccountInfo(2)"><span class="am-icon-calendar"></span> 账号信息</a></li>
          </ul>
        </li>
		<li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav_SysAdmin'}"><span class="am-icon-th"></span> 软件服务 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav_SysAdmin">
			<li><a href="#" onclick="loadFollow()"><span class="am-icon-puzzle-piece"></span>网络跟单服务</a></li>
            <li><a href="#" onclick="loadOnlineMonitor()"><span class="am-icon-puzzle-piece"></span>在线监控服务</a></li>
			<li><a href="#" style="color:#f3f3f3"><span class="am-icon-puzzle-piece"></span>数据统计服务</a></li>
          </ul>
        </li>
		<li class="admin-parent">
          <a class="am-cf am-collapsed" data-am-collapse="{target: '#collapse-nav_StaticInfo'}"><span class="am-icon-table"></span> 数据分析 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav_StaticInfo">
            <li><a href="#" style="color:#f3f3f3"><span class="am-icon-puzzle-piece"></span>EA数据测评</a></li>
			<li><a href="#" style="color:#f3f3f3"><span class="am-icon-puzzle-piece"></span>交易数据分析</a></li>
          </ul>
        </li>
        <li><a href="/logout"><span class="am-icon-sign-out"></span> 注销</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p id="noticeParagraph">时光静好，与君语；细水流年，与君同。</p>
		  <p id="noticeParagraph">灰色部分的功能暂未开通，敬请见谅</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> Tips</p>
          <p id="tipsParagraph">有任何疑问欢迎您询问管理员</p>
		  <p id="tipsParagraph">在首页里可以看到各项服务的概述</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content" id="contentDiv">
	
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
  <span class="am-icon-btn am-icon-th-list"></span>
</a>

<footer>
  <hr>
	<p class="am-padding-left">
		©2016 <a href="http://www.mychuangao.com" target="_blank">创澳商务信息咨询有限公司</a> 
		&nbsp;&nbsp; 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备15024633号-2</a>
		. &nbsp;&nbsp; by the ChuangAo Team.
	</p>
	<!--[if lt IE 9]>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	<script src="../../static/assets/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="//cdn.bootcss.com/amazeui/2.7.1/js/amazeui.min.js"></script>
	<script src="../../static/assets/js/app.js"></script>
	<script src="../../static/assets/js/customFunction.js"></script>


	
</footer>



</body>
</html>
