<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <title>404 内容未找到</title>
  <meta name="description" content="404"></meta>
  <meta name="keywords" content="index"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
  <meta name="renderer" content="webkit"></meta>

  <meta name="apple-mobile-web-app-title" content="创澳商务"></meta>
  <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css" th:href="@{assets/css/amazeui.min.css}"></link>
  <link rel="stylesheet" href="../../static/assets/css/admin.css" th:href="@{assets/css/amazeui.min.css}"></link>
  <style>
		#contentDiv{
			background-image: url(404.jpg);
			background-repeat:no-repeat;
			background-position:center;
			
			height:454px;
		}
  </style>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，网站暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>创澳商务</strong> <small>404 Error</small>
  </div>
  <!--  各种接口  -->
  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
		<li>
			<a href="http://mychuangao.com">
				<span class="am-icon-refresh">返回网站首页 </span> 
			</a>
		</li>
		<li>
			<a href="/login">
				<span class="am-icon-repeat">返回服务中心首页</span>  
			</a>
		</li>
		<li>
			<a href="http://wpa.qq.com/msgrd?V=3&amp;uin=2570278383&amp;Site=创澳商务&amp;Menu=yes&amp;from=discuz" target="_blank">
				<span class="am-icon-qq">联系客服</span>
			</a>
		</li>	
    </ul>
  </div>
</header>

<div class="am-cf admin-main">  

  <!-- content start -->
  <div class="admin-content" id="contentDiv">		
	
  </div>
  <!-- content end -->

</div>



</body>
</html>
